
<div class="nav-scrollable" >
    <nav class="flex-column">
        <div class="nav-item px-3">
                <NavLink @onclick="() => NodeClick(Node)" class="nav-link">
                    <Icon Name="@Node.Icon" />
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> @Node.Text
                </NavLink>
        </div>
        @if (Node.Children?.Any() == true)
        {
            <ul>
                @foreach (var child in Node.Children)
                {
                    <TreeNodeComponent OnNodeClick="() => NodeClick(child)"
                                  Node="child"></TreeNodeComponent>
                }
            </ul>
        }
    </nav>
</div>

@code {
    [Parameter]
    public TreeNode Node { get; set; }

    [Parameter]
    public EventCallback<TreeNode> OnNodeClick { get; set; }

    private string nodeClass = "";

    private async Task NodeClick(TreeNode node)
    {
        if (node.Tipo == "Asset")
        {
            
        } 
        await OnNodeClick.InvokeAsync(node);
    }
    
}