@page "/login"
@inject AuthService AuthService
@inject NavigationManager Navigation
@using System.ComponentModel.DataAnnotations

<div class="d-flex justify-content-center align-items-center ">
    <div class="content-data mt-4 p-4 border rounded" style="width: 500px;">
        <h3 class="text-center">Login</h3>

        <EditForm Model="loginModel" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de Usuario:</label>
                <InputText id="username" class="form-control" @bind-Value="loginModel.Username" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña: </label>
                <InputText id="password" class="form-control" type="password" @bind-Value="loginModel.Password" />
            </div>
            <button type="submit" class="btn btn-success w-100">Login</button>
            <a class="btn btn-link w-100" @onclick="NavigateToRegister">Registrarse</a>
        </EditForm>
    </div>
</div>

@code {
    private LoginModel loginModel = new LoginModel();

    private async Task HandleLogin()
    {
        if (await AuthService.LoginAsync(loginModel.Username, loginModel.Password))
        {
            Navigation.NavigateTo("/", true);
        }
        else
        {
            // Handle login failure (e.g., show a message to the user)
        }
    }

    private void NavigateToRegister()
    {
        Navigation.NavigateTo("/register");
    }

    public class LoginModel
    {
        [Required]
        public string Username { get; set; }

        [Required]
        public string Password { get; set; }
    }
}
